<style src="report-ui/css/page.css"></style>
<nav class="navbar navbar-default navbar-fixed-top" style="position: relative;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="li-pie li-generic active"><a class="btn"><i class="fa fa-pie-chart"></i> Pie Chart</a></li>
            <li class="li-bar li-generic"><a class="btn"><i class="fa fa-bar-chart"></i> Bar Chart</a></li>
            <!-- li class="li-spline li-generic"><a class="btn"><i class="fa fa-area-chart"></i> Spline Chart</a></li -->
        </ul>
    </div>
</nav>
<script src="report-ui/user-data-report/user-data-report.js" type="text/javascript"></script>
<div id="content-pie-chart" class="content-chart" style="padding: 30px;"></div>
<div id="content-bar-chart" class="content-chart hidden" style="padding: 30px;"></div>
<!-- div id="content-spline-chart" class="content-chart hidden" style="padding: 30px;"></div -->