<aside class="toro-nav-fix-left-bg">
<nav role="navigation">
  <!-- Collect the nav links, forms, and other content for toggling -->
  <ul id="test-main-menu" class="toro-nav-fix-left nav-pills nav-stacked nav-inverse list-unstyled">
    <li ng-repeat="report in reports">
    <a ng-bind-template="{{report.name}}" ng-click="loadReport(report)" ng-class="{true:'active'}[report.active]" ng-model="report"></a>
    </li>
  </ul>
</nav>
</aside>
