<h4>{{awesomeThings[1]}} aa</h4>
Coupons ---
Filter: <input ng-model="query" />
<div ng-repeat="offer in offers | filter:query">
  <h2 ng-bind-template="{{offer.name}}"></h2>
  <img ng-src="{{offer.icon}}" />
</div>
