<header class="toro-admin-header">
<div class="container-fluid">
  <div class="pull-left">
    <h1 class="logo">
      <img src="./images/logo-toro.png"/>
      <span class="main-title hidden-xs">
        Bussiness Decision Management Solution
      </span>
    </h1>
  </div>
  <!-- end col -->
  <!-- div class="pull-right">
    <div class="user">
      <span>
        <i class="fa fa-user"></i> &nbsp;&nbsp;jjose@toro-asia.com
      </span>
    <div>
    <div class="pull-right">
      <button class="btn">
        <i class="fa fa-gear"></i>
      </button>
      <button class="btn">
        <i class="fa fa-sign-out"></i>
      </button>
    </div>
  </div -->
  <!-- end col -->
</div>
<!-- end of container fluid -->
</header>
