<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta name="keywords" content="{{keywords}}">
    <meta name="ROBOTS" content="INDEX, FOLLOW">
    <meta name="description" content="{{description}}">
    <!-- css  -->
    <link href="{{appCss}}" rel='stylesheet' type="text/css" />
    <!-- bower:js -->
    {{#each libScripts}}
    <script src="bower_components/{{this}}" type="text/javascript"></script>
    {{/each}}
    <!-- endbower -->
    <!-- build:js({.tmp,app}) -->
    <script src="js/{{appScript}}" type="text/javascript"></script>
    <!-- endbuild -->
    
    <script src="views/highcharts.js"></script>
  </head>
  <body ng-app="bdmsApp">

    <ng-include src="'views/header.html'"></ng-include>
    <ng-include src="'views/aside-menu.html'"></ng-include>

    <div class="toro-main">
      <div class="container-fluid" style="padding-left: 0px !important;">
        <div ng-view=""></div>
      </div>
    </div>

</body>
</html>
