<style src="report-ui/css/page.css"></style>
<nav class="navbar navbar-default navbar-fixed-top" style="position: relative;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--a class="navbar-brand" href="#"><i class="fa fa-clock-o" style="font-size: 130%; margin-left: 60px;"></i></a-->
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="hidden-xs"><a class="btn"><b>Installation Analysis</b><i class="fa fa-clock-o" style="font-size: 130%; margin-left: 5px; margin-right: 20px;"></i></a></li>
            <li><a class="btn" href="/deployServiceReport/getYesterday">yesterday</a></li>
            <!-- li><a class="btn" href="/deployServiceReport/getDay">daily</a></li -->
            <li><a class="btn" href="/deployServiceReport/getAllDays">all days</a></li>
            <li><a class="btn" href="/deployServiceReport/getCurrentWeek">current week</a></li>
            <li><a class="btn" href="/deployServiceReport/getAllWeeks">all weeks</a></li>
            <li><a class="btn" href="/deployServiceReport/getCurrentMonth">current month</a></li>
            <li><a class="btn" href="/deployServiceReport/getAllMonths">all months</a></li>
            <li><a class="btn" href="/deployServiceReport/getLastMonthSnapshot">last month snapshot</a></li>
            <li><a class="btn" href="/deployServiceReport/getAllMonthSnapshots">all months snapshot</a></li>
            <li><a class="btn" href="/deployServiceReport/getCurrentYear">current year</a></li>
            <li><a class="btn" href="/deployServiceReport/getAllYears">all years</a></li>
            <!--li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li-->
        </ul>
        <!--ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
        </ul-->
    </div>
</nav>