.area-panel {
  width: 100%;
  height: 100%;
  
  &.ng-hide {
    opacity: 0;
  }

  &.ng-hide-remove {
    transition: all linear 1000ms;
  }

  &.ng-hide-add {
    transition: all linear 0ms;
  }
}
