@btn-font-weight: normal;

.btn {
  .button-size(@padding-base-vertical; @padding-large-horizontal; @font-size-base; @line-height-base; 0);
  
  .fa {
    //font-size: @font-size-large;
  }
}

.btn-default {
  border-color: #d5d5e5;
  color: #1b4376;
}
