.callout {
  border-left-width: 3px;
  border-left-style: solid;
  padding: @padding-small-vertical @padding-small-horizontal;
  margin-bottom: 12px;
  
  .title, p {
    margin: 0;
  }
}

.table .callout {
  margin-bottom: 0;
}

.callout-info {
  border-left-color: @brand-info;
  .bg-variant(@state-info-bg);

  .title {
    color: darken(@brand-info, 10%);
  }
}

.callout-warning {
  border-left-color: @brand-warning;
  .bg-variant(@state-warning-bg);

  .title {
    color: darken(@brand-warning, 10%);
  }
}

.callout-disable {
  border-left-color: darken(@gray-lighter, 10%);
  .bg-variant(lighten(@gray-lighter, 5%));
  color: darken(@gray-lighter, 20%);

  .title {
    color: darken(@gray-lighter, 20%);
  }
}
