@font-path: "../fonts/SourceSansPro";

@font-face {
  font-family: 'SourceSansProRegular';
  src: local('SourceSansPro-Regular'), 
  local('@{font-path}/Source Sans Pro Regular'),
  url('@{font-path}/SourceSansPro-Regular-webfont.eot'),
  url('@{font-path}/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('@{font-path}/SourceSansPro-Regular-webfont.woff') format('woff'),
  url('@{font-path}/SourceSansPro-Regular-webfont.ttf') format('truetype'),
  url('@{font-path}/SourceSansPro-Regular-webfont.svg#source_sans_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProLight';
  src: local('SourceSansPro-Light'), 
  local('@{font-path}/Source Sans Pro Light'),
  url('@{font-path}/SourceSansPro-Light-webfont.eot'),
  url('@{font-path}/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('@{font-path}/SourceSansPro-Light-webfont.woff') format('woff'),
  url('@{font-path}/SourceSansPro-Light-webfont.ttf') format('truetype'),
  url('@{font-path}/SourceSansPro-Light-webfont.svg#source_sans_prolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProBold';
  src: local('SourceSansPro-Bold'), 
  local('@{font-path}/Source Sans Pro Bold'),
  url('@{font-path}/SourceSansPro-Bold-webfont.eot'),
  url('@{font-path}/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('@{font-path}/SourceSansPro-Bold-webfont.woff') format('woff'),
  url('@{font-path}/SourceSansPro-Bold-webfont.ttf') format('truetype'),
  url('@{font-path}/SourceSansPro-Bold-webfont.svg#source_sans_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProSemibold';
  src: local('SourceSansPro-Semibold'), 
  local('@{font-path}/Source Sans Pro Semibold'),
  url('@{font-path}/SourceSansPro-Semibold-webfont.eot'),
  url('@{font-path}/SourceSansPro-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('@{font-path}/SourceSansPro-Semibold-webfont.woff') format('woff'),
  url('@{font-path}/SourceSansPro-Semibold-webfont.ttf') format('truetype'),
  url('@{font-path}/SourceSansPro-Semibold-webfont.svg#source_sans_prosemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-family-source-regular:  "SourceSansProRegular", Arial, sans-serif;
@font-family-source-light:  "SourceSansProLight", Arial, sans-serif;
@font-family-source-bold:  "SourceSansProBold", Arial, sans-serif;
@font-family-source-semibold:  "SourceSansProSemibold", Arial, sans-serif;
