.image-uploader {
  border-radius: 3px;
  border: 1px solid @gray-light;
  text-align: center;
  cursor: pointer;
  padding-bottom: 12px;
  
  &:hover {
    background-color: @gray-lighter;
  }
  
}

.image-preview {
  img {
    //width: 100%;
    border-radius: 5px;
    max-width: 100%;
    margin-bottom: 6px;
  }
}

.btn-image {
  position: fixed;
  top: -10000px;
}
