// Form control focus state
//
// Generate a customized focus state and for any input with the specified color,
// which defaults to the `@input-focus-border` variable.
//
// We highly encourage you to not customize the default value, but instead use
// this to tweak colors on an as-needed basis. This aesthetic change is based on
// WebKit's default styles, but applicable to a wider range of browsers. Its
// usability and accessibility should be taken into account with any change.
//
// Example usage: change the default blue border and shadow to white for better
// contrast against a dark gray background.

.form-control-focus(@color: @input-border-focus) {
  @color-rgba: rgba(red(@color), green(@color), blue(@color), .6);
  &:focus {
    border-color: @color;
    outline: 0;
    .box-shadow(none);
  }
}

.input-sm {
  .input-size(@input-height-small; @padding-small-vertical; @padding-base-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}

.input-lg {
  .input-size(@input-height-large; @padding-large-vertical; @padding-base-horizontal; @font-size-large; @line-height-large; @border-radius-large);
}

// form-control
.form-control {
  border-radius: 0;
}

// customize input select
// select would wrap in .toro-admin-select
.toro-admin-select {
  position: relative;
  
  .form-control {
    padding-right: 24px;
    appearance: normal;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
  }
  
  // fix the padding to avoid some part of letter disappearing
  .input-lg, .input-sm {
    padding-top: 0;
  }
  
  i {
    position: absolute;
    top: 30%;
    right: 10px;
    width: 5px;
    height: 11px;
    pointer-events: none;
    
    &:before {
      position: absolute;
      content: "";
      right: 0;
      top: 2px;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      border-bottom: 4px solid @gray-dark;
    }
    
    &:after {
      position: absolute;
      content: "";
      right: 0;
      bottom: -2px;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      border-top: 4px solid @gray-dark;
    }
  }
}

.form-horizontal .toro-admin-select {
  i {
    //right: 26px;
  }
}

// setup border-radius for input-group
.input-group-addon {
  border-radius: 0;
  &.input-sm {
    border-radius: 0;
  }

  &.input-lg {
    border-radius: 0;
  }
}
