html{
  height: 100%;
}
body {
  min-height: 100%;
}

// Define the fundemental design structure of application here
.toro-admin {
  background-color: @gray-lighter;
}

@header-height:       70px;
@left-menu-width:    200px;

// The total height of header should be around 50px
// Depend on the size of logo and margin
.toro-admin-header {
  position: fixed;
  width: 100%;
  height: @header-height;
  z-index: 5000;
  #gradient > .vertical(@start-color: #787878; @end-color: #9A9A9A);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #787878;

  .user {
    margin-top: 5px;
    span {
      color: white;
    }
  }

  .logo {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 20px;
    img {
      height: 45px;
      margin-left: 65px;
    }
    .main-title {
      color: white;
      vertical-align: middle;
      margin-left: 15px;
    }
  }
  
  .btn {
    margin-top: 6px;
    .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; 0);
  }
}

//
// Navgation aside
//@navbar-inverse-link-color:                 #A4A9B0;
@navbar-inverse-link-color:                 #d5d5e5;
@navbar-inverse-link-hover-color:           lighten(@navbar-inverse-link-color, 35%);
@navbar-inverse-bg:                         #60759e;
@navbar-inverse-end-bg:                     #084c8d;
@navbar-inverse-border:                     #1b4376;
@navbar-inverse-active-bg:                  #084c8d;

.toro-nav-fix-left-bg {
  position: fixed;
  width: @left-menu-width;
  #gradient > .horizontal(@start-color: @navbar-inverse-bg; @end-color: @navbar-inverse-end-bg; @start-percent: 3%; @end-percent: 100%);
  top: @header-height;
  left: 0;
  height: 100%;
}

.toro-nav-fix-left {
  & > li > a {
    position: relative;
    display: block;
    color: @navbar-inverse-link-color; 
    // font-size: @font-size-small; 
    .transition(all .1s ease-in);
    border-radius: 0;
    border-left: 3px solid @navbar-inverse-link-color;
    //border-bottom: 1px solid @gray-dark;
    border-bottom: 1px solid @navbar-inverse-border;
    padding: 14px 0;
    padding-left: 16px;
    // float: left;
    &.active {
      border-left: 3px solid @navbar-inverse-link-hover-color;
      
      // triangle navbar indicator
      &::after {
        position: absolute;
        display: block;
        content: "";
        top: 40%;
        right: 0;
        border-style: solid;
        border-color: transparent;
        border-width: 8px;
        border-left-width: 0;
        border-right-color: @gray-lighter;
      }
    }
    &.active,
    &:hover,
    &.hover {
      color: @navbar-inverse-link-hover-color;
      text-decoration: none;
      background-color: @navbar-inverse-active-bg;
    }
    i {
      //font-size: 16px;
      margin-right: 8px;
      width: 12px;
      text-align: center;
    }
  }
}

//
// Main content of application
.toro-main {
  position: absolute;
  top: @header-height;
  margin-left: @left-menu-width;
  // margin-top: 20px;
  // padding-left: 20px;
  // padding-right: 20px;
  // padding-top: @grid-gutter-width / 2;
  min-height: 500px;
  width: calc(~'100% - '@left-menu-width); //@left-menu-width
}
