div.login {
  #gradient > .horizontal(@start-color: @navbar-inverse-end-bg; @end-color: @navbar-inverse-bg; @start-percent: 3%; @end-percent: 100%);
  .panel {
    margin-bottom: 100px;
    border-radius: 5px;
    .panel-heading {
      background-color: #084c8d;
      text-align: center;
      h4{
        color: white;
      }
    }
  }
  i.fa-bar-chart {
    margin-left: 25px;
    font-size: 185px;
    color: #084c8d;
    position: relative;
    left: 0;
    bottom: 0;
  }
  i.fa-pie-chart {
    margin-left: 80px;
    margin-top: -80px;
    font-size: 385px;
    color: #084c8d;
  }
}

.vertical-offset-100{
  padding-top:100px;
}
