#map_canvas {
  width: 100%;
  height: 600px;
}

.map-panel {
  display: none;
  
  &.show {
    display: block;
  }
}

.map-wrapper {
  position: relative;
  margin-top: 12px;
  overflow: hidden;
  border: 1px solid darken(@gray-lighter, 15%);
  //border-bottom: none;
  
  &.drag-start {
    overflow: hidden;
  }

  .map-popup-locator {
    position: absolute;
    bottom: 150px;
    left: 50%;
    width: 80%;
    pointer-events: none;
  }
  .map-popup {
    position: relative;
    display: none;
    width: 100%;
    //max-width: 560px;
    bottom: 70px;
    left: -50%;
    .transition(all .1s ease-in-out);
    pointer-events: auto;

    &.show {
      display: block;
    }
    
    &.drag-start {
      .opacity(.5);
      pointer-events: none;
      bottom: 370px;
    }
  }
}
