// Emberjs add class active to <a> instead of <li> when entering a href
// fix the active style to <a>
.navbar-inverse {
  .navbar-nav {
    > li > a.active {
      color: @navbar-inverse-link-active-color;
      background-color: @navbar-inverse-link-active-bg;
    }
  }
}
.navbar {
  .navbar-nav {
    > li > a.active {
      color: @navbar-default-link-active-color;
      background-color: @navbar-default-link-active-bg;
    }
  }
}

.nav-stacked li {
  cursor: pointer;
}

.nav-stacked > li + li {
  margin-top: 0;
}

// setup the style of dropdown in nav-fix-left
// which is a stacked navbar
.toro-nav-fix-left {
  //border-bottom: 1px solid @gray;
  border-top: 1px solid @gray;
  margin-bottom: 0;
  .dropdown {
    border-bottom: 1px solid @gray-dark;
    & > a {
      border-bottom: none; // overwrite border-bottom of a inside dropdown
      text-decoration: none;
    }
    &.open .dropdown-toggle {
      color: @navbar-inverse-link-active-color;
    }
    ul.dropdown-menu {
      position: relative;
      background-color: @navbar-inverse-bg;
      clear: both;
      float: none;
      box-shadow: none;
      background-color: lighten(@navbar-inverse-bg, 3%);
      
      // dropdown menu ::before settings
      &::before {
        content: "";
        display: block;
        //border-left: 1px solid @gray;
        border-left: 1px solid @brand-primary;
        position: absolute;
        left: 29px;
        top: 0;
        bottom: 0;
        .transition(border-color .1s ease-in-out);
      }
      
      & > li {
        position: relative;
        &::before {
          content: "";
          display: block;
          border-top: 1px solid @gray;
          position: absolute;
          left: 29px;
          width: 8px;
          top: 20px;
          .transition(border-color .1s ease-in-out);
        }
      }
      
      &:hover {
        &::before ,& > li::before {
          border-color: darken(@navbar-inverse-link-active-color, 15%);
        }
      }
      // end dropdown ::before setting
      
      & > li > a {
        color: @navbar-inverse-color;
        padding: @padding-large-vertical @padding-small-horizontal;
        padding-left: 50px;
        .transition(color .1s ease-in-out);
        
        &:hover, &.active, &:active {
          background-color: transparent;
          color: @navbar-inverse-link-active-color;
        }
      }
      
      & .divider {
        background-color: lighten(@navbar-inverse-bg, 10%);
      }
    }
  }
}

// style of nav-fix-left for user info
.nav-user {
  font-family: @font-family-source-light;
  color: @gray-light;
  padding: @padding-large-vertical @padding-large-horizontal;
  span {
    vertical-align: middle;
  }
  
  img {
    width: 32px;
    margin-right: 6px;
  }
}
