// each thumbnail of objects

.thumbnail.objects {
  cursor: pointer;
  position: relative;
  margin-top: 10px;
  margin-bottom: 0px;
  min-height: 320px;
  .box-shadow(0 1px 1px rgba(0,0,0,.3));
  .transition(opacity .15s ease-in);
  
  &.active {
    background-color: darken(@body-bg, 8%);
    &:hover { 
      background-color: darken(@body-bg, 8%) !important;
    }
    img {
      max-height: 130px !important;
    }
  }
  
  input {
    background: rgba(0,0,0,0);
    border: none;
    font-weight: bold;
    font-size: 110%;
    color: @gray-dark;
    height: inherit;
    width: inherit;
    padding: inherit;
    margin: inherit;
  }  
  textarea {
    background: rgba(0,0,0,0);
    border: none;
    height: inherit;
    width: inherit;
    padding: inherit;
    margin: inherit;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-right: 15px;
    padding-bottom: 5px;
    a {
      cursor: pointer;
    }
  }

  &:hover { 
    background-color: darken(@body-bg, 3%);
    // border-color: #598531;
    border: 1px solid #C2C6C6;
    .paragraph-end {
      #gradient > .horizontal(rgba(255,255,255,0),darken(@body-bg, 3%));
    }
    span.name {
      //text-decoration: underline;
    }
  }

  .paragraph-end {
    position: absolute;
    height: 42px;
    width: 45px;
    right: 0;
    #gradient > .horizontal(rgba(255,255,255,0),rgba(255,255,255,1));
  }

  h1, h2, h3, h4 {
    // font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 0;
  }
  h4 {
    font-weight: normal;
  }
  span.name {
    color: @gray-dark;
  }

  img {
    max-height: 180px !important;
  }
}

.object {
  .page-header {
    margin-top: 0;

    h1, h2, h3 {
      // margin-top: 0;
    }
  }
  .icon {
    position: relative;
    overflow: hidden;
    width: 220px;
    height: auto;
    text-align: center;

    .type-informer {
      position: absolute;
      top: 11%;
      left: -49%;
      background-color: @brand-secondary;
      color: #fff;
      line-height: 26px;
      width: 294px;
      text-align: center;
      white-space: nowrap;
      .rotate(-42deg);
    }
  }
}

.coupons {
  img {
    width: 160px;
  }
}

