.panel {
  border-radius: 0;
  // add transition to when content change
  //.transition(all .1s ease-in-out);

  // a title class for heading in a panel
  .title {
    margin-top: 0;
  }

}

// .panel-table is a panel with a table inside
// possiblely with some extra UI such as pagination or filter
.panel-table {
  border-radius: 0;
  border: none;

  .panel-heading {
    background-color: #3254a5;
    border-radius: 0;
    color: @gray-lighter;
    border-bottom: 1px solid #6682b5;
  }
  
  .panel-body {
    padding: 0;
    
    .table-control {
      background-color: @gray-lighter;
      border-left: 1px solid;
      border-right: 1px solid;
      border-top: 1px solid;
      border-color: darken(@gray-lighter, 15%);
      border-bottom: 1px solid darken(@gray-lighter, 15%);
      
      & > div {
        padding-top: @padding-base-vertical;
        padding-bottom: @padding-base-vertical;
      }
    }
  }
  
  .table {
    margin-bottom: 0;
    border-bottom: 1px solid;
    border-color: darken(@gray-lighter, 15%);
    
    tr > th, tr > td {
      border-right: 1px solid;
      border-right-color: @gray-lighter;
    }
    tr > th:first-child, tr > td:first-child {
      border-left: 1px solid;
      border-left-color: darken(@gray-lighter, 15%);
    }
    tr > th:last-child, tr > td:last-child {
      border-right: 1px solid;
      border-right-color: darken(@gray-lighter, 15%);
    }
    
    tbody {
      td {
        cursor: pointer;
      }
      
      tr:hover, tr:active, tr.active {
        background-color: #E6F0F5;
      }
    }
  }
  
  .panel-footer {
    border-radius: 0;
    border: 1px solid;
    border-color: darken(@gray-lighter, 15%);
    border-top-color: white;
    .box-shadow(0 2px 1px rgba(0,0,0,.1));
    
    .pagination {
      margin: 0;
    }
  }
}

.panel-location-edit {
  border-color: darken(@gray-lighter, 15%);
  .box-shadow(0 2px 1px rgba(0,0,0,.1));
  
  &:after {
    content: "";
    display: block;
    position: absolute;
    border-color: transparent;
    border-style: solid;
    border-width: 20px;
    border-bottom-width: 0;
    border-top-color: white;
    bottom: -18px;
    left: 50%;
    margin-left: -20px;
  }
  
  // title for each section
  .title {
    border-bottom: 1px dashed @gray-light;
    margin-bottom: 28px;
  }
  
  form {
    .control-label {
      color: @gray;
    }
  }
}

.panel .bone {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

// sub panel is a panel inside a window
.panel-sub-wrapper {
  position: absolute;
  right: -320px; 
  top: 6%;
  z-index: 0;
  // style for showing panel
  &.show {
    .translate(-320px, 0);
    z-index: 300;
    
    & > div {
      .box-shadow(-10px 10px 14px rgba(0,0,0,.175));
    }
  }
  .btn-toggle-panel-sub {
    position: relative;
    z-index: 500;
    cursor: pointer;
    width: 36px;
    height: 36px;
    font-size: 18px;
    background-color: white;
    text-align: center;
    color: @gray;
    padding-top: 5px;
    // shadow for unactive toggle button
    .box-shadow(-1px 1px 3px rgba(0,0,0,.275));
    
  }
    
  .panel-sub {
    padding: @padding-small-vertical @padding-small-horizontal;
    font-size: @font-size-small;
    text-align: left;
    max-width: 320px;
  }
}

// panel-sub for setting map
.panel-setting-wrapper {
  right: -190px;
  // style for showing panel
  &.show {
    .translate(-190px, 0);
  }
  
  .panel-setting {
    width: 190px;
    div {
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.panel-instruction-wrapper {
  position: absolute;
  left: 50%;
  font-size: @font-size-small;
  top: 6px;
  
  .panel-instruction {
    position: relative;
    left: -50%;
    div {
      margin: @padding-small-vertical;
      margin-right: @padding-small-horizontal;
      &:first-child {
        margin-left: @padding-small-horizontal;
      }
    }
    img {
      width: 16px;
    }
  }
  
  .panel-response {
    position: relative;
    left: -50%;
    padding: @padding-small-vertical @padding-small-horizontal;
    & > span {
      margin-right: 12px;
      line-height: 24px;
    }
  }
}

.panel-location-list-wrapper {
  top: 13%;
  
  .table-wrapper {
    height: 400px;
    overflow-y: auto;
  }
  .panel-sub {
    
    .panel-heading .panel-title {
      font-size: @font-size-base;
    }
  }
}

.panel-fetchmore-wrapper {
  right: 0;
}

.panel-item-selector {
  tbody {
    td {
      cursor: pointer;
    }
  }
}
