.lib-panel {
  img {
    width: 100%;
    background-color: transparent;
  }
  .row, .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    padding-right: 10px;
  }
  .lib-row {
    padding: 0 20px 0 20px;
  }
  .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
    .lib-header-seperator {
      height: 2px;
      width: 26px;
      background-color: #d9d9d9;
      margin: 7px 0 7px 0;
    }
  }
  .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
    a {
      position: absolute;
      width: 100%;
      bottom: 10px;
      left: 20px;
    }
  }
  .row-margin-bottom {
    margin-bottom: 20px;
  }
}

.box-shadow {
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
  padding: 0;
}
