.table {
  tbody {
    tr.disabled {
      & td {
        cursor: auto;
      }
      &:hover {
        background-color: transparent;
      }
    }
    // edit icons
    .edit-panel {
      a {
        margin-left: 6px;
      }
      a:hover {
        text-decoration: none;
      }
    }
  }
}

.table-selected {
  tbody {
    text-align: center;
    color: @brand-primary;
    tr:hover, tr:active, tr.active {
      background-color: transparent !important;
      
      .icon-rm {
        .transition(opacity .1s ease-in-out);
        .opacity(1);
      }
    }
    tr td {
      cursor: auto !important;
      
      // style for remove icon
      .icon-rm {
        color: @brand-danger;
        cursor: pointer;
        
        &:hover {
          color: darken(@brand-danger, 10%);
        }
      }
    }
  }
}