// import font face config
@import "font.less";

// variable setting
@font-family-base:    @font-family-source-regular;
// @headings-font-family:    @font-family-source-light;

@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.4)); // ~18px
@font-size-h5:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h6:            ceil((@font-size-base * 1.1));


// h1, h2, h3, h4, h5, h6,
// .h1, .h2, .h3, .h4, .h5, .h6 {
//   margin-top: 0;
// }

// h1, h2, .h1, .h2 {
//   font-family: @font-family-source-light;
// } 

h6, .h6 {
  font-family: @font-family-source-bold;
}

.no-margin-top { margin-top: 0; }

.brand-primary-color { color: @brand-primary; }
.brand-danger-color { color: @brand-danger; }

small { color: #d5d5e5 !important; }

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: @gray-lighter;
  padding-bottom: @padding-base-vertical;
}

.main-title {
  margin-top: 0;
}

.lead {
  font-family: @font-family-source-light;
  font-weight: normal;
  font-size: @font-size-h3;
}
