@icon-font-path:          "@{path}/../fonts/";
@fa-font-path:            "../bower_components/font-awesome/fonts";

//@brand-primary: #81bc00;
@brand-primary: #6682b5;
@brand-secondary: #00377b;

@grid-gutter-width:         20px;
